modules = ["nodejs-24", "python-3.11", "postgresql-16"]
[agent]
expertMode = true

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 24516
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
MSG91_SENDER_ID = "GTMCRW"
MSG91_TEMPLATE_ID = "1007372746990126494"
